In [11]:
import cufflinks 
import numpy as np
import pandas as pd
from pylab import plt
plt.style.use('seaborn')
pd.set_option('mode.chained_assignment', None)
cufflinks.set_config_file(offline=True)
%config InlineBackend.figure_format = 'svg'
import yfinance as yf

In [13]:
raw=yf.download('^NSEI', Start_date='2015.01.01',End_date='2021.12.31')

[*********************100%***********************]  1 of 1 completed

In [14]:
raw.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2007-09-17,4518.450195,4549.049805,4482.850098,4494.649902,4494.649902,0
2007-09-18,4494.100098,4551.799805,4481.549805,4546.200195,4546.200195,0
2007-09-19,4550.250000,4739.000000,4550.250000,4732.350098,4732.350098,0
2007-09-20,4734.850098,4760.850098,4721.149902,4747.549805,4747.549805,0
2007-09-21,4752.950195,4855.700195,4733.700195,4837.549805,4837.549805,0

In [16]:
df=pd.raw['Adj Close',Index='Date']
df

SyntaxError: invalid syntax (<ipython-input-16-022de316a8f4>, line 1)